@using Cadastro.Dominio.Models
@model IEnumerable<Cadastro.Dominio.Models.Usuario>
@{
    ViewBag.Title = "Index";
}

<h2>Index do Usuario</h2>

<div>
    <a href="Adicionar" class="btn btn-success">Novo Usuario</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Apelido</th>
            <th>Email</th>
            <th>Telefone </th>
            
        </tr>
    </thead>

    <tbody>
        @foreach (Usuario usuarios in Model)
        {
        <tr>
            <td>@usuarios.Nome</td>
            <td>@usuarios.Apelido</td>
            <td>@usuarios.Email</td>
            <td>@usuarios.Telefone</td>


            
            <td>
                <a href="Editar/@usuarios.Id" class="btn btn-primary">Editar</a>
                <a href="Remover/@usuarios.Id" class="btn btn-primary">Remover</a>


            </td>
        </tr>
        }


    </tbody>
</table>